@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: rgb(61,90,128);
  background: linear-gradient(90deg, rgba(61,90,128,1) 0%, rgba(224,251,252,1) 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
